<section class="login-page animate__animated animate__fadeIn">
  <back></back>
  <div class="my-div" *ngIf="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (submit)="onSubmit()" novalidate class="my-form">
      <label for="email">Email</label>
      <input type="email" name="email" formControlName="email" [class.is-invalid]="isFormFieldInvalid('email')">
      <div class="messages">
        <small class="text-danger" *ngIf="hasError('email', 'required')">*Campo obrigatório</small>
        <small class="text-danger" *ngIf="hasError('email', 'pattern')">*Email inválido</small>
      </div>
      <label for="password">Senha</label>
      <input type="password" name="password" formControlName="password" [class.is-invalid]="isFormFieldInvalid('password')">
      <div class="messages">
        <small class="text-danger" *ngIf="hasError('password', 'required')">*Campo obrigatório</small>
      </div>
      <button class="btn" type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
    <p (click)="forgotPassword()" class="forgot">
      <a>Esqueceu a senha? Clique Aqui</a>
    </p>
  </div>
  <div class="my-div" *ngIf="loading">
    <loading></loading>
  </div>
  <div class="my-div">
    <div class="register" *ngIf="close">
      <h1>Crie sua Conta</h1>
      <button class="btn" (click)="touch()">Criar</button>
    </div>
    <register></register>
  </div>
</section>