@import 'material-icons/iconfont/material-icons.css';
html, body {
  max-height: 100vh;
}
body {
    height: 100vh;
    font-family: Avenir-Roman; 
    font-display: Avenir-Roman;
}

p{
  margin: 0;
}

like{
  user-select: none;
}

back{
  user-select: none;
}

.toast-info {
  background-color: #ED9292 !important;
}
input, textarea{
  border-radius: 4px;
  background: #ED9292;
  color: aliceblue;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
  transition: all 0.3s;
  font-size: 1rem;
  border: none;
  margin-bottom: 15px;
}

input:hover, input:focus, textarea:hover, textarea:focus{
  outline: none;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(30, 60, 90, 0.2);
  border-color: #ED9292;
}

label{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.btn{
  display: block;
  padding: 10px 30px;
  background: #ED9292;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}

.mobile{
  padding: 5px 5px;
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(30, 60, 90, 0.2);
  background: none;
  border: none;
  color: white;
}

.btn:hover{
  color: #fff;
  background: #ED7272;
  transform: scale(1.05);
}

.btn:disabled{
  transform: none;
  opacity: 70%;
  cursor: auto;
}

.btn:disabled:hover{
  background: #ED9292;
}

.noPromotion{
  margin: 0 auto;
}
