<section class="forgot-page animate__animated animate__fadeIn">
  <back></back>
  <div class="intro">
    <img src="../../../assets/gifs/forgot.gif" alt="promotion-forgot" />
  </div>

  <form [formGroup]="formForgot" class="forgot" (submit)="sendEmail()" novalidate>
    <div class="title">
      <!--<h2>Eita, esqueceu sua senha?</h2>
      <h5>Não esquenta, vamos dar um jeito nisso.</h5>-->
      <h2>Funcionalidade em Desenvolvimento</h2>
    </div>
    <!--<div class="form-group"> 
      
      <input
        placeholder="Funcionalidade em Desenvolvimento"
        [class.is-invalid]="isFormFieldInvalid('email')"
        formControlName="email"
        type="text"
      />
      <div class="messages">
        <small class="text-danger" *ngIf="hasError('email', 'required')"
          >*Campo obrigatório</small
        >
        <small class="text-danger" *ngIf="hasError('email', 'pattern')"
          >*Email inválido</small
        >
      </div>
    </div>-->

    <!--<button class="btn" type="submit" disabled>
      Enviar
    </button>-->

    <!--<div class="loading" *ngIf="loading">
      <loading></loading>
    </div>
    <div class="send" *ngIf="sucessful">
      <p>Email enviado com sucesso!</p>
    </div>-->

  </form>
</section>
